body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.border-box {
  box-sizing: border-box;
}

.right {
  float: right;
}

.left {
  float: left;
}

.cart-header {
  height: 60px;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
  font-family: "Helvetica", "Lantinghei SC", "microsoft yahei";
}

.cart-header .logo {
  width: 60px;
}

.cart-header .logo img {
  width: 100%;
  vertical-align: middle;
}

.cart-header .nav {
  position: absolute;
  width: 100%;
  height: 60px;
  padding-left: 80px;
}

.cart-header .nav span {
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
}

.cart-header .nav div {
  margin: 20px 10px;
}

.cart-header .nav div a {
  color: #000;
  text-decoration: none;
}

.cart-container {
  width: 1160px !important;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.cart-container .step {
  margin: 20px 0;
  width: 100%;
}

.cart-container .step tr td {
  text-align: center;
  background: url("https://img1.thenorthface.com.cn/public/app/b2c/statics/images/cart-in.png") no-repeat;
  background-size: 100% 100%;
  color: #fff !important;
  width: 28%;
  margin-top: 0;
  font-size: 16px;
  line-height: 30px;
}

.cart-container .step tr .step2,
.cart-container .step tr .step3 {
  background: url("https://img1.thenorthface.com.cn/public/app/b2c/statics/images/cart-out-1.png") no-repeat;
  background-size: 100% 100%;
  color: #767676 !important;
}

.cart-container .cart-body {
  border: 1px solid #efefef;
  overflow: hidden;
}

.cart-container .cart-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.cart-container .cart-body table thead {
  background-color: #f2f2f2;
  color: #a5a5a5;
  height: 37px;
}

.cart-container .cart-body table th {
  font-weight: 400;
  color: #a5a5a5;
  font-size: 14px;
  text-align: center;
  line-height: 1.42857143;
  padding: 8px 1px;
}

.cart-container .cart-body table th input {
  margin: 4px 0 0;
  line-height: normal;
  height: 13px;
}

.cart-container .cart-body table tbody {
  border-bottom: 1px solid #efefef;
  color: #666;
}

.cart-container .cart-body table tbody a {
  color: #666666;
  text-decoration: none;
}

.cart-container .cart-body table tbody td {
  padding-top: 15px;
  padding-bottom: 8px;
  line-height: 20px;
  vertical-align: top;
  text-align: center;
}

.cart-container .cart-body table tbody td input {
  margin-top: 40px;
  margin: 4px 0 0;
  line-height: normal;
}

.cart-container .cart-body table tbody td p {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 100;
}

.cart-container .cart-body table tbody td .num-value {
  overflow: hidden;
  width: 76px;
  margin: 0 auto;
}

.cart-container .cart-body table tbody td .num-value span {
  overflow: hidden;
  display: block;
  border: 1px solid #a9a9a9;
  text-align: center;
  min-width: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  float: left;
  color: #767676;
}

.cart-container .cart-body table tbody td .num-value span input {
  color: #767676;
  border: none;
  min-width: 30px;
  width: 30px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  outline: none;
  margin: 0;
}

.cart-container .cart-body table tbody .single-price {
  color: #fe2000;
}

.cart-container .goods .label em, .cart-container .total .label em {
  padding-top: 10px;
  color: #8c8c8c;
  font-size: 14px;
  float: left;
  text-align: right;
  width: 200px;
  font-weight: 700;
  font-style: normal;
}

.cart-container .goods .price, .cart-container .total .price {
  float: left;
  text-align: left;
  width: 150px;
  padding-left: 5px;
  color: #fe2000;
  margin-top: 5px;
}

.cart-container .goods .price b, .cart-container .total .price b {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.cart-container .btn {
  float: right;
  margin-bottom: 10px;
}

.cart-container .btn button {
  height: 40px;
  line-height: 40px;
  width: 150px;
  text-align: center;
  border: 1px solid #dddddd;
  margin-right: 10px;
  float: right;
  margin-top: 2px;
}

.guess-like {
  overflow: hidden;
}

.guess-like h1 {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.guess-like a {
  width: 19%;
  float: left;
  padding: 10px 0;
  margin: 5px 5px 20px 5px;
  text-decoration: none;
}

.guess-like a div {
  width: 100%;
  padding: 10px;
}

.guess-like a div img {
  width: 100%;
}

.guess-like a p {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 5px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000;
}

.guess-like a .show-price {
  text-align: center;
}

.guess-like a .show-price .now {
  color: red;
  font-weight: bold;
}

.guess-like a .show-price .old {
  margin-left: 12px;
  text-decoration: line-through;
  color: #c7c7c7;
}

.guess-like a:hover {
  box-shadow: 0 0 12px 8px #f3f3f3;
}
