*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.content{
    width: 100%;
    margin-top: 30px;
    background: #f9f9f9;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
}
.content-inner{
    width: 1000px;
    margin: 0 auto;
}
.cLeft{
    float: left;
    width: 50%;
    padding: 0 15px;
}
.cLeft img{
    width: 70px;
    margin-bottom: 10px;
}
.cRight img{
    width: 240px;
    margin-bottom: 10px;
}
.below{
    width: 100% !important;
    clear: both;
    height: 420px;
    background: #000;
}
.below .below-inner{
    width: 900px;
    margin: 0 auto;
    padding-top: 60px;
    color: #707070;
}
.below .below-inner::after{
    display: block;
    content: "";
    height: 0px;
    width: 0px;
    overflow: hidden;
    clear: both;
}
.below .below-inner .below-content{
    display: flex;
    padding-bottom: 40px;
    border-bottom: 1px solid #373737;
}

.below .below-inner .lists{
    display: flex;
    width: 70%;
    color: #707070;
}
.below .below-inner .infoList{
    float: left;
    width: 20%;
}
.below .below-inner .infoList li{
    margin-bottom: 5px;
    font-size: 12px;
}
.below .below-inner .infoList div{
    margin-bottom: 20px;
}
.below .below-inner .infoList div h3{
    font-size: 14px;
    font-weight: 100;

}
.below .below-inner .infoList li a{
    font-size: 12px;
    color: #767676;
}