*{
    margin: 0;
    padding: 0;
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
img{
    width: 100%;
    display: block;
    border: 0;
}
body{
    font: 12px/1.5 ;
}

.banner{
    width: 100%;
    height: 474.7px;
    overflow: hidden;
    position: relative;
}
.banner ul{
    width:6076px;
    height: auto;
    position: absolute;
    left: -1519px;
}
.banner ul li{
    float: left;
}
.banner ul li a{
    display: block;
    width: 1519px;
}
.banner ul li a img{
    width: 100%;
}
.banner .dots ul {
left: 50%!important;
bottom: 10px;
}
.active{
    background-color: white;
}
.banner .dots ul li{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid white; 
    float: left;
    z-index: 9999;
    margin: 0 10px;
}
.banner .arrow-left{
    display: block;
    left: 90px;
    background: none !important;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
}

.banner .arrow-right{
    display: block;
    right: 90px;
    background: none !important;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
}
.banner .arrow-right i, .banner .arrow-left i{
    font-size: 30px;
    font-weight: 600;
    color: #cccccc;
}
.three-in-one{
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.three-in-one .top-pic{
    margin-top: 20px;
    width: 100%;
    height: 356px;
}

.three-in-one .down-pics{
    margin-top: 20px;
    width: 100%;    
    overflow: hidden;
}
.three-in-one .down-pics .down-left-pic{
    box-sizing: border-box;
    margin-right: 16px;
    height: 295px;
    width: 562px;
    float: left;
}
.three-in-one .down-pics .down-right-pic{
    box-sizing: border-box;
    height: 295px;
    width: 562px;
    float: left;
}
.customerLikes{
    width: 1140px;
    /* height: 60px; */
    margin: 0 auto;
}
.customerLikes .likeNav{
    width: 726px;
    margin: 0 auto;
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    margin-top: 10px;
    color: #787878;
    text-align: center;
}
.customerLikes .likeNav li{
    display: inline-block;
    padding: 0 1%;
    width: auto;
    text-align: center;
    box-sizing: content-box;
    margin: 0 49px;
    height: 42px;
    text-indent: 0px;
    border-radius: 0px;
    background: none;
    border: none;
}
.customerLikes .likeItems{
    width: 100%;
    /* position: relative; */
    margin: 10px 0;
    margin-bottom: 40px;
}
.customerLikes .likeItems::after{
    display: block;
    content: "";
    overflow: hidden;
    height: 0;
    width: 100%;
    clear: both;
}
.customerLikes .likeItems li{
    width: 285px;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    overflow: hidden;
    position: relative;
}
.customerLikes .likeItems li .bg{
    height: 527px;
    width: 275px;
    background:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5px;
    display: none;
}
.customerLikes .likeItems li .bg input{
    height: 40px;
    width: 90px;
    border: 1px solid #333333;
    background: #c7c7c7;
    color: #000;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -45px;
    cursor: pointer;
}
.sub-banner{
    width: 1140px;
    margin: 0 auto;
    height: auto;
    margin-bottom: 50px;
}
.recommend-goods{
    width: 1137px;
    margin: 0 auto; 
}
.recommend-goods h3{
    text-align: center;
    margin: 30px 0;
}
.recommend-wrapper{
    /* width: 2278px; */
    height: 350px;
    position: relative;
    overflow: hidden;
}
.recommend-wrapper::after{
    display: block;
    content: "";
    overflow: hidden;
    height: 0;
    width: 100%;
    clear: both;
}
.recommend-wrapper ul{
    position: absolute;
    height: 350px;
    overflow: hidden;
    width: 2280px;
}
.recommend-wrapper ul li{
    float: left;
    width: 270px;
    margin-right: 19px;
    border: 1px solid #ddd;
    padding: 15px;
    height: 350px;
    box-sizing: border-box;
}
.recommend-wrapper ul li div{
    width: 100%;
    text-align: center;
}
.recommend-wrapper ul li a{
    text-overflow: ellipsis;
    font-size: 14px;
    color: #000;
    margin: 10px 0;
    height: 45px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: center;
}
.recommend-wrapper ul li span{
    color: red;
    font-weight: bold;
}
.recommend-wrapper ul li d{
    margin-left: 12px;
    text-decoration: line-through;
    color: #c7c7c7;
}
.ele{
    position: fixed;
    height: 240px;
    width: 80px;
    border: 1px solid #787878;
    bottom: 50px;
    right: 20px;
}
.ele div{
    width: 78px;
    height: 79px;
    background: #dddddd;
    color: #000;
    text-align: center;
    border: 1px solid black;
}
.ele div a{
    line-height: 80px;
    font-size: 14px;
    font-weight: 600;
}
.ele div:hover{
    background: black;
}
.ele div:hover a{
    color: white;
}