* {
  margin: 0;
  padding: 0;
}

.fix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999 !important;
  height: 80px;
}

a {
  text-decoration: none;
  color: #222222;
}

.clear_float:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.notice {
  background: #efefef url("https://img1.thenorthface.com.cn/themes/tnf/images/notice.png") no-repeat 100px 5px;
  text-align: left;
  height: 32px;
  overflow: hidden;
  background-size: 23px;
  width: 100%;
  margin-top: 80px;
}

.notice span {
  display: inline-block;
  margin-left: 150px;
  line-height: 32px;
}

header {
  width: 100%;
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #ddd;
  height: 80px;
  z-index: 9999 !important;
  position: relative;
}

.logo {
  z-index: 999;
  position: absolute;
  width: 100px;
  height: 80px;
}

.right-nav {
  float: left;
  /* height: 100%; */
  padding-left: 80px;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.top-nav {
  position: relative;
  background: #222222;
  height: 40px;
  line-height: 40px;
}

.top-nav .left-bar .click {
  background: #fff;
  display: block;
  font-size: 11px;
  width: 90px;
  height: 40px;
  padding: 0 20px;
}

.left {
  float: left;
}

.tansuo a {
  font-size: 11px;
  color: #fff;
  display: block;
  /* width: 108.03px; */
  height: 40px;
  padding: 0 20px;
}

.vip a {
  width: 78.7px;
  height: 40px;
  padding: 0 20px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.vip {
  height: 40px;
}

.vip span {
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.left-bar {
  float: left;
}

.right-bar {
  float: right;
}

.right-bar a {
  font-size: 12px;
  color: white;
  line-height: 40px;
}

.right-bar .member-in {
  width: 150px;
  height: 40px;
}

.right-bar .location {
  width: 70px;
  height: 40px;
  padding: 0 10px;
}

.right-bar .mobileShop {
  width: 75px;
  height: 40px;
  padding: 0 10px;
}

.right-bar .language {
  width: 40px;
  height: 40px;
  padding: 0 10px;
}

.right-bar .cart {
  width: 90px;
  height: 40px;
  background: #eeeeee;
  position: relative;
}
#sub-cart{
  width: 300px;
  position: fixed;
  right: 0;
  background: #f7f7f7;
  top: 40px;
  z-index: 9999999999;
  overflow: scroll;
  max-height: 500px;
  display: none;
}
#sub-cart .cartItem{
  width: 100%;
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}
#sub-cart .cartItem .pic{
  width: 80px;
  height: 80px;
  border: 1px solid #e5e5e5;
  box-sizing: content-box;
  float: left;
}
#sub-cart .cartItem .pic img{
  width: 100%;
}
#sub-cart .cartItem .title{
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  white-space: normal;
  float: right;
}
#sub-cart .cartItem .title a{
  display: block;
  height: 40px;
  width: 150px;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #7b7b7b;
  margin: 0;
}
#sub-cart .cartItem .other{
  float: left;
  width: 100%;
  margin: 10px 0;
}
#sub-cart .cartItem .other .remove{
  float: right;
  height: auto;
  width: auto;
  margin: 0;
}
#sub-cart .cartItem a{
  display: inline;
  font-size: 14px;
  background: none;
  border: 0;
  color: #7b7b7b;
}
#sub-cart .none{
  width: 90%;
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
}
#sub-cart a{
  display: block;
  font-size: 20px;
  background: #fd0000;
  text-align: center;
  width: 70%;
  height: 40px;
  color: white;
  outline: none;
  border: 1px solid #fd0000;
  margin: 20px auto;
}
.show{
  display: block!important;
}
.right-bar .cart:hover #sub-cart{
  display: block;
}
.right-bar .cart a img {
  width: 22px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -11px;
}

.down-nav {
  height: 40px;
  width: 65%;
  background: white;
}

.down-nav .item {
  float: left;
  padding: 0 3%;
  line-height: 40px;
  font-size: 16px;
}

.down-right {
  position: absolute;
  top: 40px;
  right: 0;
  width: 35% !important;
  max-width: 500px;
  padding-left: 30px;
  height: 40px;
  background: white;
}

.down-right .searchWrap {
  background: #f7f7f7;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  position: relative;
  margin: 5px 12px 0 0;
}

.down-right .search {
  border: 0;
  height: 30px;
  line-height: 30px;
  outline: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 30px;
  color: #000;
  font-size: 14px;
  background: #e2e2e2;
  box-sizing: border-box;
}

.down-right .searchWrap .btn_search {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  background: none;
  border: 0;
}

.sub-nav {
  display: none;
  background: #f7f7f7;
  padding: 40px 0;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

.sub-nav .products {
  overflow: hidden;
  width: 1150px;
  margin: 0 auto;
  height: 260px;
}

.sub-nav .products .ulWrap ul {
  float: left;
  padding: 0 10px;
  border-right: 1px solid lightgray;
  min-height: 260px;
}

.sub-nav .products .ulWrap ul .tis a {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

.sub-nav .products .ulWrap ul li {
  margin-bottom: 5px;
  line-height: normal;
  padding: 0 30px;
}

.sub-nav .products .ulWrap ul li>* {
  font-size: 12px !important;
  text-align: left;
  height: auto;
  line-height: 14px;
  padding: 2px 0;
  color: #000;
}

.item:hover {
  background: #f7f7f7;
}

.item:hover .sub-nav {
  display: block;
}

